// kolory 
$color-green: #86FF00;
$color-violet: #6050E7;
$color-darkBlue: rgb(0, 3, 41);
$color-black: black;
$color-white: white;
$color-gray: rgb(172, 172, 172);

// fonty
$font-main: 'Rubik', sans-serif;

