@import '../../../../assets/scss/variables';

.menu-item {
    width: 150px;
    height: 75px;
    line-height: 75px;
    text-decoration: none;
    text-align: center;

    &__btn-link {
        color: $color-white;
        font-size: 1rem;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
            color: $color-green;
        }
    }
}