@import "../../../../assets/scss/variables";

.menu {
  display: flex;
  background-color: $color-violet;
  border-bottom: 10px solid $color-black;

  &__logo {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    margin-left: 50px;
  }

  &__container {
    flex-basis: 50%;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    list-style: none;

    @media screen and (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
