<div class="menu">
    <div class="menu__logo">
        <img class="menu__logo-img" src="assets/img/logo.png" alt="logo">
    </div>
    <nav class="menu__container">
        <!-- <pre>
            {{ menuItems$ | async | json }}
        </pre> -->
        <ul class="menu__list">
            <app-menu-item
                *ngFor="let menuItem of (menuItems)"
                [menuItem]="menuItem"
            ></app-menu-item>
        </ul>
    </nav>
    <button (click)="authorize()">{{ (isAuthorized$ | async) ? 'Unauthorize' : 'Authorize' }}</button>
</div>
