<section class="mical-container__menu-section">
    <app-menu [menuItems]="menuItems$ | async"></app-menu>
</section>

<section class="mical-container__header-section">
    <app-header (buttonClick)="getIsCarouselInfo($event)"></app-header>
</section>

<section class="mical-container__carousel-section" *ngIf="isVisible$">
    <app-carousel [carouselItems]="carouselItems$ | async"></app-carousel>
</section>

<section class="mical-container__contact-section">
    <app-contact-form></app-contact-form>
</section>

<section class="lesson-form">
    <app-lesson-form></app-lesson-form>
</section>