@import "../../../../assets/scss/variables";

.contact {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    padding-top: 70px;
    background-color: $color-darkBlue;

    @media screen and (max-width: 1200px) {
      width: 800px;
    }
  }

  &__container-title {
    display: flex;
    width: 100%;
  }

  &__title {
    width: 300px;
    text-align: left;
    color: $color-white;
    border-color: $color-white;
    margin-right: 80px;
  }

  &__subtitle {
    display: flex;
    width: 620px;
    justify-content: space-between;
  }

  &__contact-icons {
    font-size: 1.1rem;
    color: $color-white;
    line-height: 50px;
    text-decoration: none;
  }

  &__contact-icon {
    font-size: 1.5rem;
    margin-right: 10px;
  }

  &__container-content {
    display: flex;
    margin: 50px 0 0;
    width: 100%;
    justify-content: space-between;
  }

  &__form {
    display: flex;
    flex-direction: column;
    ::placeholder {
      padding: 30px;
    }
  }

  &__form-input {
    flex-basis: 70px;
    width: 450px;
    background-color: $color-darkBlue;
    border: none;
    font-size: 1rem;
    color: white;
    border-bottom: 1px solid white;
    &:focus {
      box-sizing: border-box;
      outline: none;
    }
  }

  &__form-textArea {
    background-color: $color-darkBlue;
    border: none;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    color: white;
    border-bottom: 1px solid white;
    &:focus {
      box-sizing: border-box;
      outline: none;
    }
  }

  &__map {
    display: flex;

    @media screen and (max-width: 1200px) {
      align-items: center;
    }
  }

  &__map-img {
    height: 100%;

    @media screen and (max-width: 1200px) {
      height: 200px;
    }
  }

  &__container-socials {
    display: flex;
    margin-top: 10px;
    width: 1000px;
    height: 100px;
    align-items: center;

    @media screen and (max-width: 1200px) {
      width: 800px;
    }
  }

  &__button {
    width: 150px;
    height: 50px;
    padding: 0;
  }

  &__socials {
    width: 300px;
    height: 50px;
    text-align: right;
  }

  &__social-dot {
    display: inline-block;
    width: 50px;
    font-size: 1.5rem;
    color: $color-darkBlue;
    line-height: 50px;
    background-color: $color-white;
    text-align: center;
    border-radius: 50%;
    margin: 0 1px;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 0 10px $color-white;
    }
  }

  &__newsletter {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: -40px 0 0 10px;
  }

  &__newsletter-title {
    font-size: 1rem;
    color: $color-white;
    line-height: 2rem;
  }

  &__newsletter-content {
    display: flex;
  }

  &__newsletter-input {
    height: 50px;
    flex-grow: 2;
    &:focus {
      box-sizing: border-box;
      outline: none;
    }
  }

  &__button-subscribe {
    flex-grow: 1;
    height: 50px;
    padding: 0;
    color: white;
    background-color: $color-green;
    border: none;
    transition: 0.3s;
    &:hover {
      color: $color-green;
      background-color: $color-darkBlue;
      box-shadow: 0 0 10px white;
    }
  }

  &__container-footer {
    width: 1000px;
    border-top: 1px solid $color-white;
  }

  &__footer {
    font-size: 1rem;
    color: $color-white;
    text-align: center;
    line-height: 3rem;
  }
}
