<div class="contact__container">
    <div class="contact__container-title">
        <h1 class="contact__title">Contact Us</h1>
        <div class="contact__subtitle">
            <a class="contact__contact-icons" href="#"><i
                    class="fa-solid fa-location-dot contact__contact-icon"></i>Locations</a>
            <a class="contact__contact-icons" href="phone:908586458"><i
                    class="fa-solid fa-phone contact__contact-icon"></i>+71
                908586458</a>
            <a class="contact__contact-icons" href="mailto:demo@gmail.com"><i
                    class="fa-solid fa-envelope contact__contact-icon"></i>demo@gmail.com</a>
        </div>
    </div>
    <div class="contact__container-content">
        <form class="contact__form" id="applicationsForm">
            <input class="contact__form-input" type="text" name="fullName" placeholder="Full Name">
            <input class="contact__form-input" type="text" name="email" placeholder="Email">
            <input class="contact__form-input" type="number" name="phoneNumber" placeholder="Phone Number">
            <textarea class="contact__form-textArea" name="message" placeholder="Message" rows="6"></textarea>
        </form>
        <div class="contact__map">
            <img class="contact__map-img" src="assets/img/map.jpg" alt="map">
        </div>
    </div>
    <div class="contact__container-socials">
        <button class="contact__button button" id="btnSubmitApp">Send</button>
        <div class="contact__socials">
            <a class="contact__social-dot" href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a class="contact__social-dot" href="#"><i class="fa-brands fa-twitter"></i></a>
            <a class="contact__social-dot" href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a class="contact__social-dot" href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="contact__newsletter">
            <h2 class="contact__newsletter-title">Newsletter</h2>
            <div class="contact__newsletter-content">
                <input class="contact__newsletter-input" type="text" placeholder="Enter your email">
                <button class="contact__button-subscribe button" type="submit">Subscribe</button>
            </div>
        </div>
    </div>
    <div class="contact__container-footer">
        <p class="contact__footer">Copyright 2023 All Right Reserved By Free html Templates</p>
    </div>
</div>