@import "../../../../assets/scss/variables";

.carousel-block {
  display: flex;
  flex-direction: column;
  height: 250px;
  flex-basis: 300px;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  background-color: $color-white;
  box-shadow: 0 0 3px $color-gray;

  &__title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0;
  }

  &__image {
    height: 60px;
    width: 80px;
    margin: 10px 0;
  }

  &__content {
    text-align: center;
    font-size: 1rem;
    margin: 10px 0;
  }
}
