<div class="header">
    <h1 class="header__title">{{ isAuthorized$ | async }}</h1>
    <h2 class="header__subtitle">Car repair services</h2>
    <p class="header__content">It is a long established fact that a reader will be distracted by the redable content of
        a page when looking at its layout. The point of using Lorem ipsum is that it has a more-or-less normal
        distribution of letters.</p>
    <div class="header__buttons-container">
        <button (click)="onClick(true)" class="header__button">More info</button>
        <button (click)="onClick(false)" class="header__button">Contact us</button>
    </div>
</div>
<div class="headerImg">
    <img class="headerImg__image" src="assets/img/car.png" alt="car" />
</div>